/* Full-page layout */
body {
    background-image: url('feedback.jpg');
    background-color: darkgoldenrod;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: grid;
    place-items: center;
    color: black;
}

/* Form container */
.form-container {
    background-color: #8cb3e9;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}

/* Form layout */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
}

/* Labels */
.form-container label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 16px;
}

/* Input fields and select */
.form-container input,
.form-container select, 
.form-container fieldset{
  
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #060606;
    border-radius: 4px;

}

/* Button styling */
form button {
    height: 45px;
    background-color: rgb(11, 86, 235);
    color: rgb(235, 235, 239);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #1e0ad0;
}

.mandatory{
    color:red;
}
